html {
	background: #d0d0d0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

body {
	margin:0;
	padding:0;
    line-height: 1.5em; }

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%; }

.middle {
    display: table-cell;
    vertical-align: middle; }

.inner {
    margin-left: auto;
    margin-right: auto; }

article {
    max-width: 45em;
    margin: 0 auto; }

h1 {
    font-size: 3em;
    line-height: 1.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; }

.squareColor {
  width: 1em;
  height: 1em;
  margin: 0 .5em; }

.dayColor { background: rgba(255,244,203,1); }
.goldenHourColor { background: rgba(246,173,158,1); }
.black { background: rgba(0,0,0,1); }
.duskColor { background: rgba(229,122,166,1); }
.twilightColor { background: rgba(166,79,176,1); }
.nightColor { background: rgba(99,49,162,1); }

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}